<launch>
  <arg name="port" default="/dev/ttyvacuum"/>
  <include file="$(find arm_operation)/launch/change_tool_service.launch"/>
  <node pkg="arm_operation" type="agent_server_node" name="agent_server_node" output="screen" clear_params="true">
    <param name="camera_y_lower" value="-0.403"/>
    <param name="camera_y_lower" value="-0.301"/>
    <param name="camera_x" value="0.661"/>
    <param name="camera_z" value="0.5"/>
    <rosparam param="tool_length">[0.15, 0.084, 0.05]</rosparam>
    <rosparam param="service_name">["/change_tool_service/change_tool_service",
                                    "/abb/GetCartesian",
                                    "/abb/SetCartesian",
                                    "/abb/GetJoints",
                                    "/abb/SetJoints",
                                    "/abb/SetZone",
                                    "/abb/SetSpeed",
                                    "/vacuum_pump_control_node/vacuum_control",
                                    "/vacuum_pump_control_node/check_suck_success"]</rosparam>
    <rosparam param="home_joints">[-0.37856191396713257, 
                                   0.2209586799144745, 
                                   0.08604472875595093, 
                                   -0.018849557265639305, 
                                   1.2630947828292847, 
                                   -0.4089306592941284]</rosparam>
    <rosparam param="middle_joints">[-0.0652753140395, 
                                      0.130376095154, 
                                     -0.166504410678, 
                                     -0.0, 
                                      1.60692464268, 
                                      -0.0652753140395]</rosparam>
    <rosparam param="place_joints">[0.18395769596099854, 
                                    0.14468780159950256, 
                                    0.17662732303142548, 
                                    -0.016406094655394554, 
                                    1.2583823204040527, 
                                    0.15271630883216858]</rosparam>
    <rosparam param="home_xyz">[912.52, -365.56, 934.48]</rosparam>
  </node>
  <node pkg="vacuum_conveyor_control" type="vacuum_pump_control" name="vacuum_pump_control_node" output="screen">
    <rosparam command="load" file="$(find vacuum_conveyor_control)/config/vacuum_data.yaml"/>
  </node>
</launch>
