<launch>
  <arg name="model" default="$(find robot_description)/urdf/system.urdf.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="true"/>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="rviz" pkg="rviz" type="rviz"/>
</launch>
