<launch>
  <node pkg="grasp_suck" type="helper_services" name="helper_services_node" output="screen" clear_params="true">
    <rosparam param="ur3_home_joint">[2.834, -2.629, 1.749, -1.482, -1.457, -0.187]</rosparam>
    <rosparam param="ur3_place_joint">[2.082, -1.755, 1.618, -1.807, -1.572, -0.091]</rosparam>
  </node>
</launch>
